$border: 5px;
$h: calc(100% - calc(2 * #{$border}));
$link_h: 35px;
$overflow_h: calc(#{$link_h} + calc(0.7 * #{$link_h}));

// .html { .body { #root {
.page {
  height: $h;
  // border: dashed blue $border;

  .header {
    position: fixed;
    width: 100%;
    height: 100px;
    background: rgba(20, 22, 24, 0);
    display: relative;
  }
}

.container {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 35%; //calc(100vh - #{$border} - #{$border});
  width: calc(100% - #{$border} - #{$border});
  // border: solid yellow $border;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  .overflow-hidden {
    position: relative;
    height: $overflow_h;
    width: 100px;
    overflow: hidden;
    // background: orange;

    .link {
      position: absolute;
      top: $overflow_h;
      height: $link_h;
      width: 100%;
      // background: lightblue;

      display: flex;
      justify-content: center;
      align-items: center;

      font-size: 21px;
    }
  }
}

// } } } // .html, .body, #root
